MENU TITLE Select the kernel to boot
TIMEOUT 30
DEFAULT debian
LABEL debian
	LINUX	/vmlinuz
	INITRD	/initrd.img
	#FDTDIR	/dtbs/{KERNEL_VER}
	FDT	/dtbs/{KERNEL_VER}/rockchip/rk3588-orangepi-5-plus.dtb
	APPEND	root=UUID={ROOTFS_UUID} rw console=/dev/ttyFIQ0,1500000n8

