MENU TITLE Select the kernel to boot
TIMEOUT 30
DEFAULT debian
LABEL	debian
	LINUX	/boot/vmlinuz
	INITRD	/boot/initrd.img
	#FDTDIR	/boot/dtbs/{KERNEL_VER}/
	FDT	/boot/dtbs/{KERNEL_VER}/rockchip/rk3588-orangepi-5-plus.dtb
	FDTOVERLAYS	{KERNEL_VER}
	APPEND	root=UUID={ROOTFS_UUID} rw

